
body {
  padding: 1rem;
}

button svg {
  width: 1rem;
  height: 1rem;
}

#player {
  display:none;
}

#player.visible{
  display:block;
}

#tutorial {
  display:none;
}

#tutorial.visible{
  display:block;
}